@font-face {
    font-family:blowbrush ;
    src: url(../fonts/blowbrush.ttf);}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    
}



body{
    font-family: dosis, Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: visible;
    width: 100%;
    
}
header .contenedor .name h2{
    font-size: 150px;
    font-family: blowbrush;
    letter-spacing: 10px;
    
    color: #e97828;
    -webkit-text-stroke: #ffffffc9 2px;
    
    text-align: CENTER;
    
    
    
}


/*-------   HEADER -------*/

header{
    width: 100%;
    background: url('../img/LAMAS-FONDO-min.jpg');
    background-size:cover;   
    position: fixed;
    background-position: 50% 20%;
    z-index: 1;  
    
    
}

header .contenedor .name  p{
    font-size: 30px;
    color: #e0e6e6;
    padding-bottom: 20px;
    text-align: center;
    
}

header .contenedor{
    position: relative;
    
    
}
header .menu1{
    width: 100%;
    text-align: center;
    

}

header .menu1 a{
    color: #041b66;
    font-size: 20px;
    font-weight: 600;    
    margin: 20px 20px;
    text-decoration: none;
    position: relative;
   
    }
header .menu1 a:hover{
    text-decoration: underline;
    
}

header .text{
    color: #fff;
    width: 100%;
    
    top: 50%;
    margin-top: 100px
}
header .text h3{
    font-weight: 600;
    font-size: 70px;
    text-align: center;
    
}
header .text h4 {
    font-weight:200;
    font-size: 50px;
    text-align: center;
    
}



/*----- ---- MAIN ----- -----*/

.main{
    
    background:  #4c80ae;
    
}


.main .acerca-de{
    width: 100%;
    max-width: 1000px;    
    margin: auto;   
    display: flex;
    
}
.main .acerca-de .contenedor{
    box-flex:
    
}

.main .acerca-de .contenedor article{
    background: #e0e6e6;
    padding: 20px;
    margin-top:20px;
    width:60%;   
    margin-bottom: 40px;
    box-shadow: 0px 2px 10px #e7d9ce;
    margin-left: 400px;
    
}   

.main .acerca-de article h3{
    font-size: 60px;
    font-weight: 400px;
    text-align: center;  
    color: rgb(255, 254, 254);
}


.main .acerca-de article p{
    line-height: 30px;
    font-weight:700;
    margin-bottom: 40px;
    padding: 0  20px;
    color: #4c80ae;
}
.main .acerca-de .slider{
    
    
    width: 600px;
    height: 338px;
    padding:3px;
    background-color:  #cfbeb2cc;
    margin-top: 300px;
    position: relative;
}

.main .acerca-de .slider div{
    position:absolute;
    width: 100%;
    height: 100%;
    
}



.main .location {
    background: #e0e6e6;
    padding: 60px 0;
    overflow: hidden;
    padding-left: 60px;
    
}
.main .location .title{
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 40px;
    color:rgb(228, 142, 43);
}
.main .location .directions{
    float: left;
    width: 50%;
    text-align: left;
}

.main .hours{
    float: right;
    width: 50%;
    text-align: right;
    padding-right: 60px;
}
.main .location .directions .street{
    margin-bottom: 15px;
}
.main .location .hours h4{
    margin-bottom: 15px;
    text-align: right;
}
.main .maps{
    width: 100%;
    overflow: hidden;

}

.main .map iframe {
    width: 100%;
    height: 500px;
    max-height: 600px;
}

body footer .contenedor{
    margin: auto;
    width: 100%;
    max-width: 1000px;
    background: #000;
}
body footer .contenedor .socialmedia p{
    font-size: 100px;
}


    

/*----- ----- MEDIA QUERIES ----- ----- */
@media screen and (max-width: 1000px) {
    
    
    body{
        width: 100%;
    }

    .acerca-de .contenedor {
        width: 100%
    }

    .main .acerca-de .slider{
        padding:3px;
        background-color:  #cfbeb2cc;
        margin-top: 280px;
        left: 150px;
    }

    .main .acerca-de .contenedor article{
        margin-left: 0px;
        width: 100%;
        padding-right: 50px;
    }
   
}


@media screen and (max-width: 800px){


    .main .acerca-de .slider{
        padding:3px;
        background-color:  #cfbeb2cc;
        margin-top: 280px;
        left: 50px;
    }
}


@media screen and (max-width: 700px){


    .main .acerca-de .slider{
        padding:3px;
        background-color:  #cfbeb2cc;
        margin-top: 200px;
        left: 0px;
    }
    header{
        width: 100%;
        background: url('../img/LAMAS-FONDO-min.jpg');
        background-size:cover;   
        background-attachment: scroll;
        z-index: 1;  
        
        
    }

    header .contenedor .name h2{
        font-size: 100px;
    }
    
    header .contenedor .name  p{
        font-size: 20px;
        color: #e0e6e6;
        padding-bottom: 20px;
        text-align: center;
        
    }
    

}

@media screen and (max-width: 600px){


    .main .acerca-de .slider{
        padding:3px;
        background-color:  #cfbeb2cc;
        margin-top: 200px;
        left: 0px;
        
    }

    .main .acerca-de .contenedor article{
        background: #e0e6e6;
        padding: 20px;
        margin-top:10px;   
        margin-bottom: 10px;
        box-shadow: 0px 2px 10px #e7d9ce;        
    }

    @media screen and (max-width: 600px){


        .main .acerca-de .slider{
            padding:3px;
            background-color:  #cfbeb2cc;
            margin-top: 200px;
            left: 0px;
            
        }
    
        .main .acerca-de .contenedor article{
            background: #e0e6e6;
            padding: 20px;
            margin-top:10px;   
            margin-bottom: 10px;
            box-shadow: 0px 2px 10px #e7d9ce;        
        }
        header .contenedor .name h2{
            font-size: 75px;
        }
        
        header .contenedor .name  p{
            font-size: 15px;
            color: #e0e6e6;
            padding-bottom: 20px;
            text-align: center;
            
        }


/*@media screen and (max-width: 400px) {
	.main .acerca-de article h3 {
		font-size: 34px;
		margin-bottom: 10px;
    }
    .main .menu .titulo{

        font-size: 50px;
        
    }

	.main .menu article .nombre,
	.main .menu article .precio {
		font-size: 16px;
		line-height: 16px;
	}

	.main .ubicacion .direccion {
		margin-bottom: 15px;
	}

	.main .ubicacion .direccion, 
	.main .ubicacion .horarios {
		width: 100%;
		text-align: center;
    }
    iframe {
        max-width: 100%;
        height: auto;
        min-height: 500px;
    }